body {
  background-color: #222222;
  max-width: 1125px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 82px;
}

h2 {
  text-align: center;
  font-size: 54px;
  color: #ff79c6;
}

h3 {
  text-align: center;
  font-size: 38px;
  color: #ffb86c;
}

a:link {
  color: #8be9fd;
  text-decoration: none;
}

a:visited {
  color: #bd93f9;
  text-decoration: none;
}

p {
  color: #f8f8f2;
  font-size: 18px;
  margin-left: 40px;
}

header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  color: #f8f8f2;
  background-color: #212121e8;
  text-align: center;
}

footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f8f8f2;
  background-color: #212121e8;
  text-align: center;
}

.imagesLayout {
  display: block;
  margin: auto;
  width: 550px;
}

#textBlock {
  background-color: #212121e8;
}

#serverIP {
    color: #8be9fd;
    font-size: 2em;
}

#breakIcon {
    color: #f1fa8c;
}

#serverStatusText {
    color: #ffb86c;
}

#serverStatus {
    color: #50fa7b;
}

#backgroundVideo  {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(0.25rem) contrast(25%) brightness(50%);
}