body {
  background-color: #212121;
  max-width: 55em;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 8em;
  display: block;
  margin: auto;
  color: #2ec27e;
}

h2 {
  text-align: center;
  font-size: 6em;
  color: #e66100;
}

h3 {
  text-align: center;
  font-size: 4em;
  color: #c01c28;
}

h4 {
  text-align: center;
  font-size: 2em;
  color: #f5c211;
}

h5 {
  text-align: center;
  font-size: 1.5em;
  color: #57e389;

}

a:link {
  color: #78aeed;
  text-decoration: none;
}

a:visited {
  color: #9141ac;
  text-decoration: none;
}

p {
  color: #f8f8f2;
  font-size: 22px;
  margin-left: 3em;
  margin-right: 3em;
}

header {
  color: #f8f8f2;
  font-size: 2em;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #212121e8;
  text-align: center;
}

footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f8f8f2;
  background-color: #212121e8;
  text-align: center;
}

.imagesLayout {
  display: block;
  margin: auto;
  width: 50%;
}

#textBlock {
  background-color: #212121e8;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ranksBlock {
  text-align: center;
}

#breakIcon {
    color: #f1fa8c;
}

#serverStatusText {
    color: #ffb86c;
}

#serverStatus {
    color: #50fa7b;
}

#backgroundVideo  {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(0.25rem) contrast(25%) brightness(45%);
}

#gameplayBlock {
  text-align: center;
}